@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext');
body{
    font-family: 'Open Sans', sans-serif;
    color: #636b6f;
}
.btn-xs{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}
.card .badge{
    font-size: 0.7em;
    padding: 5px 10px;
    line-height: 1;
    margin-left: 10px;
}